{% extends "base.html.twig" %}

{% block title %}SnowTricks -
	{{ contribution.title }}

{% endblock %}

{% block body %}
	<div class="container-xxl">
		<div class="card mb-4">

			<div class="row">
				<div class="col">

					{% if not contribution.imageInFront %}
						<div class="d-flex justify-content-center align-items-center shadow-sm" style="background: url('/src/img/no_img.svg') no-repeat center/50%; height: 40vh; border-radius: 10px 10px 0 0">
						{% else %}
							<div class="d-flex justify-content-center align-items-center shadow-sm" style="background: url({{ asset('/img_uploads/'~ contribution.imageInFront.fileName)}}) no-repeat center; background-size: cover; height: 40vh; border-radius: 10px 10px 0 0">
							{% endif %}

							<div class="card-title px-lg-5 px-1">
								<h1 class="card-trick_title text-center shadow-sm">
									{{ contribution.trick ? contribution.trick.title : contribution.title}}
								</h1>
							</div>
						</div>

						<h2 class="text-center fs-1">- Les Medias -</h2>
						<div class="d-flex justify-content-center m-1">
							<button id="btn-viewMedias" class="btn btn-primary bi bi-collection text-uppercase m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediasCards" aria-expanded="true" aria-controls="collapseMediasCards">
								Afficher/Cacher les médias
							</button>
						</div>


						<div class="card-medias py-2 collapse" id="collapseMediasCards">
							<div id="medias" class="media-list">
								{% for image in contribution.images %}
									<div class="card m-1 bg-dark border-0 no-btn">
										<img class="card-img" src="{{'/img_uploads/'~ image.filename}}" alt="{{image.title}}" data-bs-toggle="modal" data-bs-target="#modalImg-{{image.id}}">
									</div>
									<!-- Modal -->
									<div class="modal fade" id="modalImg-{{image.id}}" tabindex="-1" aria-labelledby="image {{image.title}}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content rounded-3 border-0">
												<button type="button" class="btn-close bg-light m-1 ms-auto z-index-1" data-bs-dismiss="modal" aria-label="Close"></button>
												<img class="w-100 position-absolute rounded-3" src="{{'/img_uploads/'~ image.filename}}" alt="{{image.title}}">
											</div>
										</div>
									</div>
								{% endfor %}
								{% for video in contribution.videos %}
									<div class="card m-1 no-btn">
										<iframe class="card-img-top" src="{{video.link}}" title="Video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								{% endfor %}
							</div>

							<div class="d-flex justify-content-center m-1">
								<button id="btn-hideMedias" class="btn btn-primary bi bi-collection text-uppercase m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediasCards" aria-expanded="false" aria-controls="collapseMediasCards">
									Cacher les médias
								</button>
							</div>
						</div>

						<h2 class="text-center fs-1">- La Description -</h2>
						<div class="card-description mb-5">
							<p class="card-lead lead fst-italic text-center fs-3 my-5">{{ contribution.leadIn }}</p>
							<p class="text-center">{{ contribution.content }}</p>
							<div class="m-auto text-center">
								<span class="badge bg-dark">
									<i class="bi bi-tag me-1"></i>
									{% if contribution.category %}
										{{ contribution.category.name }}
									{% else %}
										{{ contribution.trick.category.name }}
									{% endif %}

								</span>
								<span class="badge bg-dark">
									<i class="bi bi-calendar-date me-1"></i>
								</i>
								{{ contribution.date|date("d/m/Y")}}
							</span>
							<span class="badge bg-warning text-dark">
								<i class="bi bi-pen me-1"></i>
								{{ contribution.user.pseudo }}
							</span>
						</div>
					</div>
					<div class="contribution-validation">
						<button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#deleteContribModal">
							<i class="bi bi-x-lg me-1"></i>Refuser
						</button>
						<a href="{{path('contribution_validation', {id: contribution.id})}}" class="btn btn-success m-2">
							<i class="bi bi-check-lg me-1"></i>Accepter</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="deleteContribModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content modal-500">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Es-tu sûr de vouloir Refuser ?</p>
						<p>Cela
							<strong>supprimera définitivement</strong>
							cette Contribution ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Annuler
						</button>
						<a href="{{path('contribution_delete', {id: contribution.id})}}" class="btn btn-danger mt-1">
							<i class="bi bi-trash-fill me-1"></i>Oui, Supprimer
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
