{% extends "base.html.twig" %}

{% block title %}SnowTricks -
	{{ trick.title }}

{% endblock %}

{% block body %}
	<div class="container-xxl">
		<div class="card mb-4">

			<div class="row">
				<div class="col">
					{% if app.user %}
						<div class="card-link_top_end">
							<a href="{{path('contribution_new', {slug: trick.slug})}}" class="btn btn-primary bi bi-pencil-square"></a>
							{% if app.user and is_granted("ROLE_ADMIN") %}
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTrickModal">
									<i class="bi bi-trash-fill"></i>
								</button>
								<!-- Modal -->
								<div class="modal fade" id="deleteTrickModal" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content modal-500">
											<div class="modal-header">
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p>Es-tu sûr de vouloir
													<strong>supprimer définitivement</strong>
													ce Trick ?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
													Annuler
												</button>
												<a href="{{path('trick_delete', {id: trick.id})}}" class="btn btn-danger mt-1">
													<i class="bi bi-trash-fill me-1"></i>Oui, Supprimer
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					{% endif %}

					{% if not trick.imageInFront %}
						<div class="d-flex justify-content-center align-items-center shadow-sm" style="background: url('/src/img/no_img.svg') no-repeat center/50%; height: 40vh; border-radius: 10px 10px 0 0">
						{% else %}
							<div class="d-flex justify-content-center align-items-center shadow-sm" style="background: url({{ asset('/img_uploads/'~ trick.imageInFront.fileName)}}) no-repeat center; background-size: cover; height: 40vh; border-radius: 10px 10px 0 0">
							{% endif %}

							<div class="card-title px-lg-5 px-1">
								<h1 class="card-trick_title text-center shadow-sm">
									{{ trick.title }}
								</h1>
							</div>
						</div>

						<h2 class="text-center fs-1">- Les Medias -</h2>
						<div class="d-flex justify-content-center m-1">
							<button id="btn-viewMedias" class="btn btn-primary bi bi-collection text-uppercase m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediasCards" aria-expanded="true" aria-controls="collapseMediasCards">
								Afficher/Cacher les médias
							</button>
						</div>


						<div class="card-medias py-2 collapse" id="collapseMediasCards">
							<div id="medias" class="media-list">
								{% for image in trick.images %}
									<div class="card m-1 bg-dark border-0 no-btn">
										<img class="card-img" src="{{'/img_uploads/'~ image.filename}}" alt="{{image.title}}" data-bs-toggle="modal" data-bs-target="#modalImg-{{image.id}}">
									</div>
									<!-- Modal -->
									<div class="modal fade" id="modalImg-{{image.id}}" tabindex="-1" aria-labelledby="image {{image.title}}" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content rounded-3 border-0">
												<button type="button" class="btn-close bg-light m-1 ms-auto z-index-1" data-bs-dismiss="modal" aria-label="Close"></button>
												<img class="w-100 position-absolute rounded-3" src="{{'/img_uploads/'~ image.filename}}" alt="{{image.title}}">
											</div>
										</div>
									</div>
								{% endfor %}
								{% for video in trick.videos %}
									<div class="card m-1 no-btn">
										<iframe class="card-img-top" src="{{video.link}}" title="Video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								{% endfor %}
							</div>

							<div class="d-flex justify-content-center m-1">
								<button id="btn-hideMedias" class="btn btn-primary bi bi-collection text-uppercase m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediasCards" aria-expanded="false" aria-controls="collapseMediasCards">
									Cacher les médias
								</button>
							</div>
						</div>

						<h2 class="text-center fs-1">- La Description -</h2>
						<div class="card-description mb-5">
							<p class="card-lead lead fst-italic text-center fs-3 my-5">{{ trick.leadIn }}</p>
							<p class="text-center">{{ trick.content }}</p>
							<div class="m-auto text-center">
								<span class="badge bg-dark">
									<i class="bi bi-tag me-1"></i>
									{{ trick.category.name }}
								</span>
								<span class="badge bg-dark">
									<i class="bi bi-calendar-date me-1"></i>
								</i>
								{{ (trick.modifiedDate ? trick.modifiedDate : trick.creationDate)|date("d/m/Y")}}
							</span>
							<span class="badge bg-warning text-dark">
								<i class="bi bi-pen me-1"></i>
								{{ trick.author.pseudo }}
							</span>
							{% for user in trick.contributors %}
								<span class="badge bg-warning text-dark">
									<i class="bi bi-pen me-1"></i>
									{{ user.pseudo }}
								</span>
							{% endfor %}
						</div>
					</div>

					{% if app.user %}
						<h2 class="text-center fs-1">- Vas-y Commentes ! -</h2>
						{{ form_start(formViewComment, {'attr': {'class': 'trick-post_comment'}}) }}
						{{ form_errors(formViewComment) }}

						{{ form_row(formViewComment.content) }}

						<button type="submit" class="submit btn btn-warning text-uppercase text-dark fw-bold h1 fs-4 mb-3">
							Commenter !
						</button>

						{{ form_end(formViewComment) }}
					</div>
				{% else %}
					<h2 class="text-center fs-1">- Connectes-toi pour Commenter ! -</h2>
					<div class="d-flex justify-content-center my-2">
						<a href="{{path('app_login')}}" class="h1 btn btn-warning m-2 fs-4 text-center d-block m-auto">Se Connecter</a>
					</div>
				{% endif %}

				<h2 class="text-center fs-1">- Les Commentaires -</h2>
				<div class="card-comments mx-auto p-3 rounded-3">
					<div id="comments">
						{% if trick.comments|length == 0  %}
							<p class="text-center">Aucun commentaire - Sois le premier à commenter !</p>
						{% else %}
							{% include "trick/_comments.html.twig" %}
						</div>
						{% if (paginatedComments|length) is not same as (trick.comments|length) %}
							<button class="card-loadmore btn btn-warning h3 fs-5 text-dark" id="loadMore">
								Afficher d'autres commentaires</button>
						{% endif %}
					{% endif %}
				</div>

			</div>
		</div>
		{% block script %}
			<script src="{{ asset('src/js/loadMore.js') }}"></script>
		{% endblock %}
	{% endblock %}
