<div class="container-xxl">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-new-trick-tab" data-bs-toggle="tab" data-bs-target="#nav-new-trick" type="button" role="tab" aria-controls="nav-new-trick" aria-selected="true">Nouveaux Tricks</button>
			<button class="nav-link" id="nav-new-contribution-tab" data-bs-toggle="tab" data-bs-target="#nav-new-contribution" type="button" role="tab" aria-controls="nav-new-contribution" aria-selected="false">Nouvelles Contributions</button>
			<button class="nav-link" id="nav-my-tricks-tab" data-bs-toggle="tab" data-bs-target="#nav-my-tricks" type="button" role="tab" aria-controls="nav-my-tricks" aria-selected="false">Mes Tricks</button>
			<button class="nav-link" id="nav-contributors-tricks-tab" data-bs-toggle="tab" data-bs-target="#nav-contributors-tricks" type="button" role="tab" aria-controls="nav-contributors-tricks" aria-selected="false">Tricks des Contributeurs</button>
		</div>
	</nav>
	<div
		class="tab-content" id="nav-tabContent">
		{# New Tricks ----------------------------------------------------#}
		<div class="tab-pane fade show active" id="nav-new-trick" role="tabpanel" aria-labelledby="nav-new-trick-tab">
			<h1 class="text-center admin-title">- Nouveaux Tricks en attentes de traitement :
				<span class="text-warning">{{ newTricks|length }}</span>
				-</h1>
			{% if newTricks|length > 0 %}
				<div class="card container-xxl bg-light py-4 my-3">
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Titre</th>
								<th scope="col">Pseudo</th>
								<th scope="col">Date</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for contribution in newTricks %}
								<tr>
									<th scope="row">{{ contribution.id }}
									</th>
									<td>{{ contribution.title }}
									</td>
									<td>{{ contribution.user.pseudo }}
									</td>
									<td>le
										{{ contribution.date|format_datetime(locale='fr') }}
									</td>
									<td>
										<a href="{{path('contribution_view', {id: contribution.id})}}" class="btn btn-primary bi bi-eye">
											Afficher</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>

		{# New Contribs ----------------------------------------------------#}
		<div class="tab-pane fade" id="nav-new-contribution" role="tabpanel" aria-labelledby="nav-new-contribution-tab">
			{% include "user/panel/_contributions.html.twig" %}
		</div>

		{# My Tricks ----------------------------------------------------#}
		<div class="tab-pane fade" id="nav-my-tricks" role="tabpanel" aria-labelledby="nav-my-tricks-tab">
			{% include "user/panel/_my_tricks.html.twig" %}
		</div>

		{# Contributors Tricks ----------------------------------------------------#}
		<div class="tab-pane fade" id="nav-contributors-tricks" role="tabpanel" aria-labelledby="nav-contributors-tricks-tab">
			{% include "user/panel/_contributors_tricks.html.twig" %}
		</div>
	</div>
