<div class="container-xxl">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="new-tricks-tab" data-bs-toggle="tab" data-bs-target="#new-tricks" type="button" role="tab" aria-controls="new-tricks" aria-selected="true">Nouveaux Tricks</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="new-contributions-tab" data-bs-toggle="tab" data-bs-target="#new-contributions" type="button" role="tab" aria-controls="new-contributions" aria-selected="false">Nouvelles Contributions</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="my-tricks-tab" data-bs-toggle="tab" data-bs-target="#my-tricks" type="button" role="tab" aria-controls="my-tricks" aria-selected="false">Mes Tricks</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="contributors-tricks-tab" data-bs-toggle="tab" data-bs-target="#contributors-tricks" type="button" role="tab" aria-controls="contributors-tricks" aria-selected="false">Tricks des Contributeurs</button>
		</li>
	</ul>

	<div
		class="tab-content" id="myTabContent">
		{# New Tricks ---------------------------------------------------- #}
		<div class="tab-pane fade show active" id="new-tricks" role="tabpanel" aria-labelledby="new-tricks-tab">
			<h1 class="text-center admin-title">- Nouveaux Tricks en attentes de traitement :
				<span class="text-warning">{{ newTricks|length }}</span>
				-</h1>
			{% if newTricks|length > 0 %}
				<div class="card container-xxl bg-light py-4 my-3">
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Titre</th>
								<th scope="col">Pseudo</th>
								<th scope="col">Date</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for contribution in newTricks %}
								<tr>
									<th scope="row">{{ contribution.id }}
									</th>
									<td>{{ contribution.title }}
									</td>
									<td>{{ contribution.user.pseudo }}
									</td>
									<td>le
										{{ contribution.date|format_datetime(locale='fr') }}
									</td>
									<td>
										<a href="{{path('contribution_view', {id: contribution.id})}}" class="btn btn-primary bi bi-eye">
											</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
		{# New Contributions ---------------------------------------------------- #}
		<div class="tab-pane fade" id="new-contributions" role="tabpanel" aria-labelledby="new-contributions-tab">
			{% include "user/panel/_contributions.html.twig" %}
		</div>
		{# My Tricks ---------------------------------------------------- #}
		<div class="tab-pane fade" id="my-tricks" role="tabpanel" aria-labelledby="my-tricks-tab">
			{% include "user/panel/_my_tricks.html.twig" %}
		</div>
		{# Contributors Tricks ---------------------------------------------------- #}
		<div class="tab-pane fade" id="contributors-tricks" role="tabpanel" aria-labelledby="contributors-tricks-tab">
			{% include "user/panel/_contributors_tricks.html.twig" %}
		</div>
	</div>

</div>
